<nav class="menu">
    <ul>
        <li>
            <NavLink href="/" Match="NavLinkMatch.All">Home</NavLink>
        </li>
        <li>
            <NavLink href="/vehicle">Vehicle List</NavLink>
        </li>
        <li>
            <NavLink href="/add-vehicle">Add Vehicle</NavLink>
        </li>
    </ul>
</nav>

<style>
    .menu {
        padding: 15px;
    }
    .menu ul {
        list-style-type: none;
        padding: 0;
    }
    .menu li {
        margin-bottom: 10px;
    }
</style>
